.directional-hover-button-text {
  transition: color 0.7s cubic-bezier(0.625, 0.05, 0, 1);
}

.directional-hover-button-circle {
  transition: transform 0.7s cubic-bezier(0.625, 0.05, 0, 1);
  transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
}

.directional-hover-button:hover .directional-hover-button-circle {
  transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
}